{% comment %} {{ 'header.css' | asset_url | stylesheet_tag }}

<div id='hero'>
  <img id='logoImg' src={{ settings.heroImg1 | image_url }} alt='' width='' height='' />
  <img id='logoImg' src={{ settings.heroImg2 | image_url }} alt='' width='' height='' />
  <h1>The Gift Guide</h1>
  <p>
    Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
  </p>
  <button><span>Shop Now</span> <span>---></span></button>
  <h6>SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL</h6>

</div>


{% schema %}
{
  "name": "hero",
  "settings": [
      {
        "label":"hero img 1",
        "id":"Hero",
        "type":"image_picker"
      }
    ],
    "presets": [
      {"name":"hero"}
    ]
}
{% endschema %} {% endcomment %}