.product-component{
  margin:10em !important;
}

@media screen and (min-width: 750px) {
    media-gallery:where(.media-gallery--grid) .media-gallery__grid {
        display: initial !important;
    }
}

media-gallery:where(.media-gallery--grid) .media-gallery__grid {
    display: initial !important;
}

.quick-add-modal__content .product-information__media {
    @media screen and (min-width: 750px) {
        position: initial !important;
        grid-column: initial !important; 
        width: var(--quick-add-modal-gallery-width);
        overflow-y: initial !important; 
        -ms-overflow-style: none;
        scrollbar-width: initial !important; 
    }
}

.quick-add-modal__content .product-information__media media-gallery {
    @media screen and (min-width: 750px) {
        position: static !important;
        inset: initial !important;
    }
}
.product-information__media{
  min-width: 10% !important;
}
.product-details{
  align-self: auto !important;
}
.price{
  display:none;
}
.quick-add-modal{
  width:30% !important;
  padding:1% !important;
}
.product-information__grid .product-media{
    width: 100vh !important;
  }

.product-information__grid{
  display: initial !important;
}
@media screen and (min-width:961px) {
.nav-btn{
    display: none;
}
}

@media screen and (max-width:961px) {
    .mo-nav{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    flex:.5;
    font-size: 3em;
}
.nav-item1{
    flex: 2;
}

.nav-item2, .nav-item3{
    display: none;
}

#hero{
    flex-direction: column-reverse !important;
    position: relative !important;
}
#logoImg{
    max-width: 50%;
}
.hero-sec2{
    width: 100vw;
    text-align: center;
    flex-direction: column-reverse !important;
}
.hero-desc button{
    position: absolute;
    right: 25%;
    left: 25%;
    bottom: 5%;
}
}
