.product-component{
  margin:10em !important;
}

@media screen and (min-width: 750px) {
    media-gallery:where(.media-gallery--grid) .media-gallery__grid {
        display: initial !important;
    }
}

media-gallery:where(.media-gallery--grid) .media-gallery__grid {
    display: initial !important;
}

.quick-add-modal__content .product-information__media {
    @media screen and (min-width: 750px) {
        position: initial !important;
        grid-column: initial !important; 
        width: var(--quick-add-modal-gallery-width);
        overflow-y: initial !important; 
        -ms-overflow-style: none;
        scrollbar-width: initial !important; 
    }
}

.quick-add-modal__content .product-information__media media-gallery {
    @media screen and (min-width: 750px) {
        position: static !important;
        inset: initial !important;
    }
}
.product-information__media{
  min-width: 10% !important;
}
.product-details{
  align-self: auto !important;
}
.price{
  display:none;
}
.quick-add-modal{
  width:30% !important;
  padding:1% !important;
}
.product-information__grid .product-media{
    width: 100vh !important;
  }

.product-information__grid{
  display: initial !important;
}